@font-face  {
  font-family: Font1;
  src:url("F1.ttf");
}

@font-face  {
  font-family: Font2;
  src:url("F2.ttf");
}

@font-face  {
  font-family: Font3;
  src:url("F3.ttf");
}

@font-face  {
  font-family: Font4;
  src:url("F4.ttf");
}
