 .PageTyler {
      height: 100px;
  width: 200px;
        background: url("Images/TylerGallery.jpeg") no-repeat;
   background-size: cover;
  display: inline-block;
 
    }
    .PageTyler:hover {
        background: url("HoverImage/TylerPage.png") no-repeat;
     
    
    }
