.TheLeft {
  font-family: Font1; 
text-align:Left; 
  padding-right: 30px; 
border: solid black 3px;
 background-image: url(Images/PatternBack.jpg); 
  height: 50px; 
  width: 35%;
}
.TheRight {
    font-family: Font1; 
text-align:Right; 
  padding-right: 30px; 
border: solid black 3px;
 background-image: url(Images/PatternBack.jpg);  
  height: 50px; 
  width: 35%;
}
.TheCenter {
    font-family: Font1; 
text-align:Center; 
  padding-right: 30px; 
border: solid black 3px;
  background-image: url(Images/PatternBack.jpg); 
  height: 50px; 
  width: 30%;
}

.TableClass {
width: 100%;
  border: 1px solid black; 
  border-radius: 10px; 
  background-color:black; 
  postion:fixed; 
  top:0; 
}
