.TheLeft {
  font-family: Font1; 
text-align:Left; 
  padding-right: 30px; 
  border: solid 6px grey; 
  border-radius: 50px;
  background-color:white; 
  height: 50px; 
  width: 70px;
}
.TheRight {
    font-family: Font1; 
text-align:Right; 
  padding-right: 30px; 
  border: solid 6px grey; 
  border-radius: 50px;
  background-color:white; 
  height: 50px; 
  width: 70px;
}
.TheCenter {
    font-family: Font1; 
text-align:Center; 
  padding-right: 30px; 
  border: solid 6px grey; 
  border-radius: 50px;
  background-color:white; 
  height: 50px; 
  width: 100%;
}

.TableClass {
 width: 100%; 
  border: 1px solid black; 
  border-radius: 10px; 
  background-color:black; 
  postion:fixed; 
  bottom:0; 
}
