.NameText {
  font-size: 50px; 
  margin-left:auto; 
  margin-right:auto; 
  Font-Family: Font1; 
  Color: Black; 
  Text-Shadow: 1px 1px grey;
    Border: Solid black 3px; 
  border-Radius: 20px; 
  background-image: Url("Images/TextGround.jpg");
}
.DivBorder {
border: solid black 3px;
  background-image: url("Images/PatternGallery.png");
  background-size: 100% 50%;
  width: 95%; 
  margin: 18px;
  margin-left:auto;
  margin-right:auto;
 border-radius: 35px; 
}
.ImageBorder {
border: solid black 3px;
  border-radius: 30px; 
}

.ImageBorderSlide {
border: solid black 3px;
  border-radius: 30px; 
Width: 300px;
  Height:  250px;
}
