.NameText {
  font-size: 50px; 
  margin-left:auto; 
  margin-right:auto; 
  Font-Family: Font1; 
  Color: Black; 
  Text-Shadow: 1px 1px grey;
    Border: Solid black 3px; 
  border-Radius: 20px; 
  background-image: url("Images/PatternGallery.png") cover;
 background-size: cover;
}
.DivBorderLeft {
border: solid White 3px;
  border-radius: 30px;
   background-image: url("Images/TextGround.jpg") cover;
  float: left;
}
.DivBorderRight {
border: solid White 3px;
  border-radius: 30px;
   background-image: url("Images/TextGround.jpg") cover;
  float: right;
}
.ImageBorder {
border: solid black 3px;
  border-radius: 30px; 
}

.ImageBorderSlide {
border: solid black 3px;
  border-radius: 30px; 
Width: 300px;
  Height:  250px;
}
