
 .PageTyler {
        width: 130px;
        height: 195px;
        background: url("/examples/images/card-back.jpg") no-repeat;
        margin: 50px;
    }
    .PageTyler:hover {
        background: url("/examples/images/card-front.jpg") no-repeat;
    }
